body {
  margin-top: 200px;
  background: rgba(0, 0, 255, 0.781);
  font-family: sans-serif;
}

.App {
  max-width: 400px;
  height: 100%;
  background: white;
  display: grid;
  grid-template-columns: auto;
  margin: 0 auto;
  border-radius: 15px;
  padding: 20px;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}

form input {
  width: 100%;
  padding: 15px;
  outline-color: blue;
}

button {
  width: 100px;
  height: 50px;
  background: rgba(0, 0, 255, 0.781);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

button:active {
  transform: scale(0.95);
}

.user-div {
  width: 100%;
  border: 1px solid blue;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  max-width: 300px;
  font-weight: 500;
  font-size: 15px;
  margin-left: 5px;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
}

.user-btn {
  width: 50px;
  height: 40px;
  background: rgba(0, 0, 255, 0.781);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  margin-right: 5px;
}

.img {
  position: absolute;
  top: 5px;
  left: 14px;
  right: 0;
}
